
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post">
    <label>UserID: </label>
    <input type="number" name="userid" />
    <br /> <br />
    <label>Password: </label>
    <input type="password" name="password" />
    <br /> <br />
    <input type="radio" value="Employee" name="status" />
    <label>Employee</label>
    <input type="radio" value="Resturant" name="status" />
    <label>Resturant</label>
    <br /> <br />
    <input type="submit" value="Login" />

</form>

